# Terraform lock file
.terraform.lock.hcl

# Terraform directories
.terraform/

# State files
terraform.tfstate
terraform.tfstate.*

# Specific paths (optional if above patterns work as expected)
devops-terraform/01_JenkinsServer/terraform.tfstate
devops-terraform/02_MontitoringServer/terraform.tfstate
